/* Colors */
$color-pink: rgba(233, 30, 99, 1);
$color-pink-trans: rgba(233, 30, 99, 0.7);
$color-pink-light: #EC407A;
$color-teal: rgba(0, 229, 255, 1);
$color-teal-trans: rgba(0, 229, 255, 0.7);
$color-indigo: rgba(63, 81, 181, 1);
$color-indigo-trans: rgba(63, 81, 181, 0.7);

.color-pink {
  color: $color-pink;
}

.waves-effect.waves-color-pink .waves-ripple {
  background-color: $color-pink-trans;
}
 
.color-teal {
  background-color: $color-teal !important;
}

.waves-effect.waves-color-teal .waves-ripple {
  background-color: $color-teal-trans;
}

.color-indigo {
  background-color: $color-indigo;
}

.waves-effect.waves-color-indigo .waves-ripple {
  background-color: $color-indigo-trans;
}

/* Navigation */
nav {
  background-color: $color-pink;

  .brand-logo {
    font-weight: 300;
  }

  ul a,
  .brand-logo
  .button-collapse {
    color: #FFFFFF;
  }

  ul.side-nav.fixed {
    li.logo-container {
      background-color: $color-pink-light;
    }

    a.logo {
      text-align: center;
      height: 170px;
    }

    p {
      color: #FFFFFF;
      margin: 0 0 0 0;
    }
  }

  .img-logo {
    border-radius: 5px;
    border: solid 1px #E6E6E6;
  }
}


/* General */
.container {
  width: 80%;
}

.container.content {
  padding: 3.5% 0 3.5% 0;
}

.bold {
  font-weight: 700;
}

.display-none {
  display: none;
}

/* Mixins */
.collapsible li.active .collapsible-header {
  color: #FFFFFF;
  background-color: $color-indigo;
}

.collapsible-body {
  //background-color: $color-indigo;
}

.collapsible li .collapsible-body {
  background-color: #FFFFFF;
  padding: 5px 0 5px 0;

  p {
    padding: 1rem;
  }
}

@media only screen and (min-width : 992px) {
  nav .brand-logo,
  .container.content {
    padding-left: 240px;
  }
}

@media only screen and (max-width : 600px) {

}