mixin slideout-nav-row(text, url)
	li
		a(href= url)= text

mixin navigation(title, active)
	div.navbar-fixed
		nav
			div.container
				a.brand-logo.center(href="#!")= title
			a.button-collapse(href="#", data-activates="slide-out")
				i.mdi-navigation-menu

			ul#slide-out.side-nav.fixed
				li.logo-container
					a.logo(href="index.html") 
						div
							p Trong Nguyen
						div
							img.img-logo(src='images/trong-colored.jpg', width='80', height='80')
				+slideout-nav-row("About Me", "index.html")
				+slideout-nav-row("Education", "education.html")
				+slideout-nav-row("Skills & Experience", "experience.html")
				+slideout-nav-row("Additional Projects", "projects.html")

	div.fixed-action-btn(style="bottom: 30px; right: 30px;")
		a.btn-floating.btn-large.waves-effect.waves-light.color-teal
			i.mdi-communication-email