mixin slider-item(class_id, title, caption, img_url)
	li.z-depth-1
		a(href="#", class= class_id)
			img(src= img_url)
			div.caption.center-align
				h3= title
				h5.light.grey-text.text-lighten-3= caption