extends ./layout.jade

block content
	+navigation('Skills & Experience', 'experience')
	div.container.content.experience-wrap.display-none
		div.row.header.white-text.z-depth-1
			h5 Skills
		div.row
			div.col.s12.m6.l3
				+card-header("Frontend")
					ul
						li Ember.js
						li HTML
						li CSS + SASS
						li Javascript + jQuery
						li Jade
			div.col.s12.m6.l3
				+card-header("Backend")
					ul
						li C#
						li Java
						li MS-SQL + SQLite
			div.col.s12.m6.l3
				+card-header("Software")
					ul
						li Visual Studio
						li WebStorm
						li IntelliJ IDEA
						li Eclipse
			div.col.s12.m6.l3
				+card-header("Previously Used")
					ul
						li Python
						li Android (Java)
						li Common LISP
						li LispWorks
						li C
		div.row.header.white-text.z-depth-1
			h5 Experience
		div.row
			div.col.s12
				div.card.card-header.full.color-indigo
					div.card-title.white-text
						h5 Alarm.com
						h6 Software Engineer
						h6 Jan 2014 - Present
					div.card-content.white
						div.section
							h6.bold Responsibilities:
							ul
								li Develop and maintain web pages and backend services for home automation devices
									| for new and existing products around thermostats, lights, and energy meters.
								li Utilize Z-Wave protocol to send commands and parse messages to and from devices.
								li Create rules to further automate devices based on timing sensor activity, schedules
									| and geolocation.
								li Create onboarding documentation for home automation engineers.
						div.section
							h6.bold Technologies
							ul
								li ASP.NET
								li MS-SQL
								li C#
								li HTML, Handlebars.js
								li CSS, SASS
								li Javascript, jQuery, ember.js
								li Proprietary assembly language
		div.row
			div.col.s12
				div.card.card-header.full.color-indigo
					div.card-title.white-text
						h5 George Mason University
						h6 Undergraduate Teaching Assistant
						h6 Aug 2010 - Dec 2013
					div.card-content.white
						div.section
							h6.bold Responsibilities:
							ul
								li Attend labs and assist students with in-class demonstrations.
								li In-class and private tutoring to help debug and test assignments.
								li Answer student questions on course discussion board (Blackboard, Piazza).
								li Proctor exams and grade quizzes.
						div.section
							h6.bold Courses:
							ul
								li CS 112 - Introduction to Computer Programming (Python)
								li CS-211 - Introduction to Object Oriented Porgramming (Java)

