extends ./layout.jade

block append scripts
	script(type="text/javascript", src="js/index.js")

block content
	+navigation("Hello!", "About")
	div.container.content.index-wrap.display-none
		div.row
			div.col.s10.offset-s1
				p.flow-text.center
					| My name is Trong, I'm 26, and I'm a Software Engineer at Alarm.com on the home automation team.
					| I'm a huge fan of Chicken Fries&#8482, and I constantly worry that they'll leave my life again.
		div.row
			div.col.l4.m8.offset-m2.s12
				+card("images/about/trong-tongue-3.jpg", "Programming", "I want to make good looking things, but I'm not ready to have a baby yet")
					p I think software aesthetics are just as important as functionality and features.
					p These pages were written in Jade and SCSS with styling provided by&#160
						a(href="http://materializecss.com/about.html") Materialize
						| . View the source and check out my&#160
						a(href="http://github.com/trongable") GitHub
						| &#160here!
			div.col.l4.m8.offset-m2.s12
				+card("images/about/corki-3.jpg", "Cosplay", "I dress up in costumes for fun. I also make them myself!")
					p Corki from League of Legends
			div.col.l4.m8.offset-m2.s12
				+card("images/about/ant.jpg", "Photography", "I like taking pictures of bugs, and I'm pretty good at writing them too")
					p I use the camera that comes with my phone and occasionally throw on a fisheye or wide angle lens
					p Check out my&#160
						a(href="http://instagram.com/trongable") Instagram
						| !
