include ./mixins/card
include ./mixins/navigation

html(lang="en")
	head
		block stylesheets
			link(type="text/css", rel="stylesheet", href="css/materialize.min.css", media="screen,projection")
			link(type="text/css", rel="stylesheet", href="css/style.css", media="screen,projection")
			meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

		block scripts
			script(type="text/javascript", src="https://code.jquery.com/jquery-2.1.1.min.js")
			script(type="text/javascript", src="js/materialize.min.js")
			script(type="text/javascript", src="js/velocity.min.js")
			script(type="text/javascript", src="js/velocity.ui.min.js")
			script(type="text/javascript", src="js/init.js")

	body
		block content