extends ./layout.jade

block content
	+navigation("Projects", "Additional Projects")
	div.container.content-slider.center.display-none
		div.slider.z
			ul.slides
				+slider-item("racial-recognition", 
					"Racial Recognition (C#, Python)", 
					"Detecting ethnicity from a profile picture", 
					"")
				+slider-item("mario-chase-es", 
					"Mario Chase Learning with Evolutionary Strategies (Java)", 
					"To Catch A Mario with Self-Teaching Toads", 
					"")
				+slider-item("secret-santa", 
					"Secret Santa (Android)", 
					"Easily randomize your Secret Santas and discreetly notify your friends", 
					"")
				+slider-item("tumblr-cli", 
					"Tumblr CLI (Java)", 
					"Post to Tumblr from the command line", 
					"")
	div.container.content.index-wrap.display-none				
		div.row
			div.col.l6.m8.offset-m2.s12
				//
					+card("", "Secret Santa (Android)", "Easily randomize your Secret Santas and discreetly notify your friends")
						p  My friends and I did Secret Santa each year for Christmas, and I wanted a way to make sure
							| everyone knew who they were matched with but without having to coordinate with everyone.
						p I wrote this small app for Android using MIT's Scratch block programming language. It was
							| impossible to maintain due to it 